.myContainer{
    background-color: rgb(242, 186, 147);
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    border-radius: 1rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    margin-bottom: 2rem;
}
